nav h1 a {
    color: red;
}

#restaurants-list li{
    flex-direction: row;
    max-width: 380px;
}

#restaurants-list .restaurant-img {
    width: 50%;
}

#restaurants-list .restaurant-details{
    width: 50%;
    margin: 10px 10px 10px 10px
}
